---
layout: default
---

<div id="navbar" class="black-text grey lighten-5 navbar-fixed">
 <a href="/new/fatwas" class="black-text waves-effect waves-grey left"><i class="material-icons">keyboard_backspace</i></a>
  <a href="#" data-activates="slide-out" class="black-text button-collapse waves-effect waves-grey right"><i class="material-icons">menu</i></a>
</div>

  <div>
   <a class="waves-effect waves-light modal-trigger" href="#modal1"><i class="material-icons left">error_outline</i>Post info</a>
   <a class="dropdown-button right black-text" href="#!" data-activates="dropdown1">Share<i class="material-icons right">arrow_drop_down</i></a>
<ul id="dropdown1" class="dropdown-content black-text">
  <li><a href="#!" class="black-text waves-effect waves-grey">Facebook</a></li>
  <li><a href="#!" class="black-text waves-effect waves-grey">Twitter</a></li>
  <li class="divider"></li>
  <li><a href="#!" class="black-text waves-effect waves-grey">WhatsApp</a></li>
  <li><a href="#!" class="black-text waves-effect waves-grey">Telegram</a></li>
</ul>
  </div>

          <div class="card radius-page-content">
            <div class="card-content black-text">
              <span class="card-title"><h3>{{ page.title }}</h3></span>
                Written on {{ page.date | date: "%B %e, %Y" }}
              {{ content }}
            </div>
          </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Post Info</h4>
    <ul class="collection">
     <li class="collection-item">Shaykh: {% include shaykh.html %}</li>
      <li class="collection-item">Source: {% include source.html %}</li>
      <li class="collection-item">Posted on this site: {% include hijri.html %}</li>
    </ul>
    </div>
  </div>
